[Desktop Entry]
Categories=Utility;
Comment=Google's popular web browser
Comment[ar]=مستعرض الإنترنت الشهير من جوجل
Comment[es]=Navegador popular de Google
Comment[fr]=Le navigateur Web populaire de Google
Comment[hi]=Google का लोकप्रिय वेब ब्राउज़र
Comment[id]=Peramban web populer dari Google
Comment[pt_BR]=Navegador popular do Google
Comment[ro]=Browser-ul popular Google
Comment[th]=เว็บเบราว์เซอร์ยอดนิยมของ Google
Comment[vi]=Trình duyệt web phổ biến nhất của Google
Comment[zh_CN]=Google 出品的一款流行的 Web 浏览器
Comment[zh_TW]=Google 的熱門網頁瀏覽器
Exec=google-chrome-launcher
Icon=com.google.Chrome
Name=Google Chrome
Name[ar]=Google Chrome
Name[bn]=গুগল ক্রোম
Name[es]=Google Chrome
Name[fr]=Google Chrome
Name[hi]=Google Chrome
Name[id]=Google Chrome
Name[pt_BR]=Google Chrome
Name[ro]=Google Chrome
Name[th]=Google Chrome
Name[vi]=Google Chrome
Name[zh_CN]=Google Chrome
Name[zh_TW]=Google Chrome
NoDisplay=true
Type=Application
Version=1.0
X-Endless-LaunchMaximized=true
